extends help_page
block headBlock
  title Terms of Service - Celly
  - helpSection = 'tos'

block contentBody
  h1 Celly Terms of Service
  h2 Introduction
  p
    | By interacting with our Celly web site and/or text messaging (the "Service"), collective services of Celly Inc. ("Celly"), you accept the following terms and conditions (the "Terms of Service"). In addition to the Service, Celly may also provide you with one or more client application(s) for your mobile phone (the "Software"), which may be downloaded by you from the 
    a(href="https://cel.ly") https://cel.ly 
    | web site, or in the future pre-installed by the phone manufacturer or mobile operator, copied from a Celly user, or downloaded from some third-party partner web sites. These Terms of Service apply also to the installation and use of the Software. Please also be aware of the Privacy Policy located at 
    a(href="https://cel.ly/privacy") https://cel.ly/privacy. 
    | Usage of the service is also governed by the privacy policy. In case of inconsistency between the TOS and the privacy policy, these terms of service shall prevail. 
  h2 General Conditions
  .row
      .small-11.columns.small-offset-1
        ol
          li You must be at least 13 years of age to use the Service.
          li You agree to keep your password secure.
          li You are solely responsible for any activity that occurs under your screen name and account.
          li You must not harass, intimidate, threaten or impersonate other Celly users.
          li You agree not to engage in any illegal or unauthorized conduct and agree to comply with all local laws that may be applicable to you regarding acceptable online conduct, behaviour and content usage.
          li You are solely responsible for any data, screen names, graphics, photos, profiles, audio and video clips, links and any other content (the "Content") that you submit, post and display on Celly.
          li We may, but have no obligation to, remove Content and accounts containing Content that we consider in our sole discretion being unlawful, offensive, threatening, obscene or otherwise objectionable or violate any party's intellectual property rights. While Celly prohibits such Content on the site, you understand and agree that the Content posted on the Celly Service by its users is not necessarily reviewed by Celly and Celly cannot be held responsible for this Content.
          li You may submit a complaint about harassment, unwelcome contact, fraud or other inappropriate conduct or activity. Acknowledgement and action regarding a user complaint about inappropriate conduct or activity will occur when we have investigated said complaint.
          li You agree to indemnify, defend and hold Celly harmless from and against any and all claims, damages, losses and expenses (including but not limited to reasonable legal fees) relating to any acts by you, including but not limited to any Content submitted by you, in connection with using the Service, resulting in claims against us by other users or third parties. To the extent the user is a government entity, this clause is replaced by Celly's Supplemental Government Terms included elsewhere herein or as supplementally provided.
          li You agree not to modify, adapt or hack the Celly Service, transmit any worms or viruses or any code of a destructive nature.
          li You agree not to modify another website so as to falsely imply that it is associated with the Celly Service.
          li You agree not to send any unsolicited commercial messages to any Celly users. (ie "Spam")
          li We reserve the right to modify or terminate the Service, and to refuse the Service to anyone, for any reason, with or without notice, at any time.
          li You agree that we may reclaim Celly names (eg cellnames and usernames) on the Service at any time for any reason on behalf of Celly business operations or on behalf of businesses or individuals who hold legal claim or trademark on those Celly names.
          li These Terms of Use shall be governed by the laws of the United States and you submit to the exclusive jurisdiction of the United States courts.
          li You will have to pay for any and all network data charges that may be incurred when you download the Software or any upgrades thereto, or use the Service. 
  h2 Government Terms
  p
    | If you are a state or local government or government agency in the United States (You), and You
    | are using Cel.ly in your official capacity, the following terms apply solely to such use and all other
    | terms remain in effect:
  .row
      .small-11.columns.small-offset-1
        ol
          li Disputes: You and Cel.ly will endeavor to resolve any disputes in an amicable fashion.
          li Venue and Governing law: Shall be the jurisdiction where your agency resides.
          li Indemnity: General Condition #9 shall apply to You only to the extent permitted by your jurisdiction's laws.
          li Additional Terms: You may hyperlink to your agency's additional Terms of Use and/or Privacy Policy, so long as they do not conflict with Cel.ly's Privacy Policy and Terms of Service.

  h2 Copyright
  p The Service is protected by copyright, trademark, trade secrets and other intellectual property rights of Celly. You agree to use the Service pursuant to these Terms of Use, and not to reproduce, modify, translate, distribute, sublicense, or create derivative works based on, the Service in any form unless otherwise expressly provided in these Terms of Service.
  p
    | We claim no ownership of any intellectual property rights over the Content that you upload to the Service. 
    | Any intellectual property rights in the uploaded Content belong solely to you (or your licensors). However, 
    | by uploading the Content to the Service, you grant Celly a non-exclusive, royalty-free, worldwide, perpetual 
    | and irrevocable right to use, reproduce, modify, distribute, sublicense, and prepare derivative works of, 
    | such Content, in any format or medium now known or later developed, solely on and through the Service, 
    | subject to these Terms of Service and our privacy policy. You represent and warrant that you have sufficient rights 
    | to grant this license. This license is you authorizing us to make your Celly messages available to members of your cells.
    | You can remove your profile at any time by sending a request to delete your account. 
    | We will review all claims of copyright infringement received and remove the Content deemed to have been 
    | posted or distributed in violation of any such laws. To make a claim, please provide us with the following:

  .row
    .small-11.columns.small-offset-1
      ul
        li A description of the copyrighted work that you claim has been infringed;
        li Info sufficient to enable Celly to locate the allegedly infringing Content on the Service;
        li Your address, phone number and email address;
        li Statement by you that you have good faith belief that the use of the Content is not authorized;
        li Statement by you that the info in your notification is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf; and
        li A signature of the person authorized to act on behalf of the owner of the copyright interest.

  p Claims can be sent to copyrightcomplaints (at) Cel.ly
  h2 Limitation of Liability
  .row
    .small-11.columns.small-offset-1
      ol
        li The Service and the Software are made available to you for your convenience on an "as is" and "as available" basis. Celly DOES NOT WARRANT OR MAKE ANY REPRESENTATIONS OR WARRANTIES (INCLUDING BUT NOT LIMITED TO MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, SATISFACTORY QUALITY, RELIABILITY OR NON-INFRINGEMENT) REGARDING THE USE OR THE RESULTS OF THE USE OR THE CONTENTS OF THE SERVICE OR THE SOFTWARE. Celly does not warrant or represent that the Software will be free of all viruses. You understand that the Service and the Software are still alpha/beta versions and may not perform with complete functionality, may be undergoing testing, may be inconsistently available, may have software "bugs" and may have other issues affecting availability and functionality. In addition to all other disclaimers and limitations of liability contained in these Terms of Use, you specifically agree that Celly is not liable for any of the above issues. Moreover, you understand that Celly does not warrant or represent that the Service and/or the Software will work on all mobile phones, will be compatible with all mobile phone networks and/or will be available in all geographical areas.
        li Celly SHALL NOT BE LIABLE FOR ANY LOSS OR DAMAGE, WHETHER DIRECT, INDIRECT, SPECIAL OR CONSEQUENTIAL, ARISING OUT OF THE USE OF OR THE INABILITY TO USE THE SERVICE OR THE SOFTWARE, OR THE RESULTS OR THE CONTENTS THEREOF, TO THE GREATEST EXTENT PERMITTED BY LAW.
        li If you are dissatisfied with the Service or the Software, or have any other disputes or claims with or against Celly with respect to the Service or the Software or these Terms of Use, then your sole and exclusive remedy is to discontinue using the Service and/or the Software.

  h2 Modification of these Terms of Use
  p We are continuously developing the features and functionality of Celly. Consequently, we reserve the right to modify these terms of service at any time at our sole discretion.  You agree to be bound to such alterations when you use Celly and the alterations shall be effective at the time of posting on Cel.ly.  It is important that you review these Terms of Service regularly on Cel.ly to ensure you are updated on any modifications to these terms.  If you are dissatisfied with or do not agree to abide by any altered Terms of Service, your sole remedy should be to request deletion of your account on Celly and discontinue use of our service.
